input {
  width: 250px;
  border-style: solid;
}

button {
  width: 250px;
  border-style: solid;
  border-color: gray;
}

h1{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 500%;
  font-weight: bold;
}

h2, h3, h4{
  font-family: 'Raleway', sans-serif;
}

.smallPadding{
  padding: 10px;
}

.bigPadding{
  padding: 50px;
}

.outputBox{
  display: grid;
  grid-template-columns: 100px 20px 200px;
}

.coffeeMugName{
  grid-column: 1/2;
  display: inline;
  width: 200px;
}

.coffeeMug{
  grid-column: 3/4;
  display: inline;
}

.outputBoxEdit{
  display: grid;
  grid-template-columns: 300px 100px 300px;
  padding-left: 50px;
}

.deleting{
  grid-column: 1/2;
  display: inline;
}

.editing{
  grid-column: 3/4;
  display: inline;
}
