input {
  width: 200px;
}

h1{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 500%;
}

.smallPadding{
  padding: 10px;
}

.bigPadding{
  padding: 50px;
}

.outputBox{
  display: grid;
  grid-template-columns: 100px 20px 200px;
}

.coffeeMugName{
  grid-column: 1/2;
  display: inline;
  width: 200px;
}

.coffeeMug{
  grid-column: 3/4;
  display: inline;
}
